#star1 {
    -fx-background-image: url("STAR_FOR_BOTI.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#star2 {
    -fx-background-image: url("STAR_FOR_BOTI.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#star3 {
    -fx-background-image: url("STAR_FOR_BOTI.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#star4 {
    -fx-background-image: url("STAR_FOR_BOTI.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

#star5 {
    -fx-background-image: url("STAR_FOR_BOTI.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}